<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Done</title>
    <link rel="stylesheet" href="static/css/style.css">
    <!-- <script src="myscripts.js"></script>  -->
</head>

<body>
    <center>
        <h1> Results </h1>
        <table>
            <th>
                Predicted Segmentation
            </th>
            <th>
                Ground Truth
            </th>
            <tr>
                <!-- /home/andrea/Notebooks/FYP/Flask_file -->
                <td>
                    <img src="/static/img/pred_img.jpg" alt="Prediction">
                </td>
                <td>
                    <img src="/static/img/seg_img.jpg" alt="Segmentation">
                </td>
            </tr>
        </table>
        <a href='/'> Back </a>

    </center>
    </form>
</body>

</html>